<!-- partial view for messages within chat -->
<div class="panel">
  <div class="panel-body">
    <%= image_tag profile_pic_url(message.user), class: "img-circle profile-pic-small" %>
    <strong><%= message.user.fullname %></strong>
    <span class="pull-right">
      <%= message.message_time %>
    </span>
    <br>
    <div class="row-space-2">
      <%= message.content %>
    </div>
  </div>
</div>
