<!-- first check if there are photos to display -->
<% if @photos %>

  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading preview">
            <%= image_tag photo.image.url() %>
          </div>
          <div class="panel-body">
            <span class="pull-right">
              <!-- using AJAX to delete photos -->
              <%= link_to photo, remote: true, method: :delete do %>
                <i class="material-icons">delete</i>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% end %>
